
body {
    background-color: #e2e2e2;
}

p.title {
    font: 30px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
}

h1 {
    font: 26px Unispace;
    color: rgb(68, 68, 68);
}

input[type=text], input[type=password] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 30px 12px 30px;
    text-align: center;
}

input[type=submit] {
    background-color: #2759d7;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px 26px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}
